<div class="main-sidebar">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#">Bus Analytics</a>
      </div>
      <ul class="sidebar-menu">

        <div class="p-3 mt-4 mb-4">
            <form method="POST" action="logout">
                <button class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block" type="submit">
                    Logout
                </button>
            </form>
        </div>

        <li class="menu-header">Actions</li>
        <li>
          <a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span>Components</span></a>
          <ul class="menu-dropdown">
            <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Common routes statistics</a></li>
            <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Routes comparison</a></li>
            <li><a href="#" onclick=""><i class="ion ion-ios-circle-outline"></i> Most delayed routes </a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.barrie.ca/Living/Getting%20Around/BarrieTransit/Pages/SchedulesMaps.aspx"><i class="ion ion-clipboard"></i><span>
            See original schedule
          </span></a>
        </li>
        <li>
          <a href="#"><i class="ion ion-heart"></i> New Schedule Changes <div class="badge badge-primary">10</div></a>
        </li>
        <li>
          <a href=""><i class="ion ion-ios-information-outline"></i> Credits </a>
        </li>
      </ul>
      <div class="p-3 mt-4 mb-4">
        <a href="http://www.myridebarrie.ca/" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block">
          <i class="ion ion-help-buoy"></i> <div>Go to myridebarrie</div>
        </a>
      </div>
    </aside>
  </div>