<div class="card">
    <div class="card-header">
        <div class="float-right">
        <div class="btn-group">
            <a href="#" class="btn active">Day</a>
            <a href="#" class="btn">Week</a>
            <a href="#" class="btn">Month</a>
        </div>
        </div>
        <h4>Map Visuals</h4>
    </div>
    <div class="card-body">
        <div id="mapid"></div>
        <div class="statistic-details mt-sm-4">
        <div class="statistic-details-item">
            <small class="text-muted"><span class="text-primary">
            <i class="ion-arrow-up-b"></i></span>Actually, as usual</small>
            <div class="detail-value">"Bus Barrie Terminal"</div>
            <div class="detail-name">Spent most time at</div>
        </div>
        <div class="statistic-details-item">
            <small class="text-muted"><span class="text-danger">
            <i class="ion-arrow-down-b"></i></span> 23% more than will be tomorrow</small>
            <div class="detail-value">23 minutes</div>
            <div class="detail-name">Longest ride between two stops</div>
        </div>
        </div>
    </div>
</div>