<div class="card">
    <div class="card-header">
        <div class="float-right">
        <div class="btn-group">
            <a href="#" class="btn active">Day</a>
            <a href="#" class="btn">Week</a>
            <a href="#" class="btn">Month</a>
        </div>
        </div>
        <h4>Statistics</h4>
    </div>
    <div class="card-body">
        <div id="chart_div"></div>
        <div class="statistic-details mt-sm-4">
        <div class="statistic-details-item">
            <small class="text-muted">
            <span class="text-primary">
                <i class="ion-arrow-up-b"></i>
            </span> 7% more than average for last week
            </small>
            <div class="detail-value">4.5 minutes</div>
            <div class="detail-name">Average delay today</div>
        </div>
        <div class="statistic-details-item">
            <small class="text-muted">
            <span class="text-danger">
                <i class="ion-arrow-down-b">
                </i></span> 23% less than last month
            </small>
            <div class="detail-value">9.7 minutes</div>
            <div class="detail-name">Max delay today</div>
        </div>
        <div class="statistic-details-item">
            <small class="text-muted">
            <span class="text-danger">
                <i class="ion-arrow-down-b">
                </i>
            </span> 42% less than yesterday
            </small>
            <div class="detail-value">0.1 minutes</div>
            <div class="detail-name">Min delay today</div>
        </div>
        </div>
    </div>
    <div class="card-body">
        <div id="chart_stops_routes_avg">
        </div>
    </div>
    <div class="card-body">
        <div id="chart_compare_routes">
        </div>
    </div>
</div>