<div class="card">
    <div class="card-header">
        <div class="float-right">
        <div class="btn-group">
            <a href="#" onclick="getStats(0);return false;" id="day_stat_btn" class="btn">Day</a>
            <a href="#" onclick="getStats(1);return false;" id="week_stat_btn" class="btn">Week</a>
        </div>
        </div>
        <h4>Statistics</h4>
    </div>
    <div class="card-body">
        <div class="statistic-details mt-sm-4">
            <div class="statistic-details-item" id="stats_avgd">
            </div>
            <div class="statistic-details-item" id="stats_maxd">
            </div>
            <div class="statistic-details-item" id="stats_mind">
            </div>
        </div>
        <div id="chart_div"></div>
        <div class="statistic-details mt-sm-4">
            <div class="statistic-details-item" id="stats_avgs">
            </div>
            <div class="statistic-details-item" id="stats_maxs">
            </div>
            <div class="statistic-details-item" id="stats_mins">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="chart_stops_routes_avg">
        </div>
    </div>
    <div class="card-body">
        <div id="chart_compare_routes">
        </div>
    </div>
</div>